<div class="create-problem p-48 flex h-screen bg-gray-100">
    <form class="flex w-full">

        <div class="flex w-full">
            <div class="w-3/12 mx-8">
                <p class="text-sm text-black font-semibold py-2">Title</p>
                <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 ">
            </div>
            <div class="w-9/12	">
                <p class="text-sm text-black font-semibold py-2">Title</p>
                <!-- <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 "> -->
                <select class="px-4 py-3  w-full  shadow-sm block">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="w-5/12	 mx-8">
                <p class="text-sm text-black font-semibold py-2">Title</p>
                <select class="px-4 py-3  w-full  shadow-sm block">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="w-5/12	 mx-8">
                <p class="text-sm text-black font-semibold py-2">Title</p>
                <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 ">
            </div>
        </div>
    </form>

</div>