<div class="create-problem sm:p-24 xl:p-44 flex  bg-gray-100">
    <form class=" w-full bg-white p-5 shadow" *ngIf="showAddForm">

        <div class="flex w-full">
            <div class="w-3/12 mr-8">
                <p class="text-sm text-black font-semibold py-2">Title</p>
                <!--  <input matInput  type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 "> -->
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="w-9/12	">
                <p class="text-sm text-black font-semibold py-2">Related To</p>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="one">Claim </mat-option>
                        <mat-option value="two">Insurance</mat-option>
                        <mat-option value="two">Both</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-5/12	 mx-8">
                <p class="text-sm text-black font-semibold py-2">Department</p>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="one">Local </mat-option>
                        <mat-option value="two">National</mat-option>
                        <mat-option value="two">International</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-5/12	 mx-8 mr-0">
                <p class="text-sm text-black font-semibold py-2">Tags</p>

                <mat-form-field class="example-full-width w-full " appearance="outline">
                    <mat-label>Tags</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="flex w-full mt-5 border-b-2 border-slate-900 pb-5">
            <div class="w-3/12 mr-8">
                <p class="text-sm text-black font-semibold py-2">Problem Lead</p>

                <mat-form-field class="example-full-width w-full " appearance="outline">
                    <mat-label>Problem Lead</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="w-5/12	 mx-8 ">
                <p class="text-sm text-black font-semibold py-2">Problem Lead Email</p>
                <mat-form-field class="example-full-width w-full " appearance="outline">
                    <mat-label>Problem Lead Email</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="w-9/12	">
                <p class="text-sm text-black font-semibold py-2">Department Code</p>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="one">001 - Front Office </mat-option>
                        <mat-option value="two">029 - Back Office</mat-option>
                        <!-- <mat-option value="two">International</mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-5/12	 mx-8 mr-0">
                <p class="text-sm text-black font-semibold py-2">Agents</p>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="one">001 - Front Office </mat-option>
                        <mat-option value="two">029 - Back Office</mat-option>
                        <!-- <mat-option value="two">International</mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>

        </div>


        <!--  Related to Claim-->

        <ng-container>
            <div>
                <p class="text-sm text-black font-semibold py-2 mt-5">Related To (Cliam)</p>
            </div>
            <div class="flex w-full mt-5 border-b-2 border-slate-900 pb-5">
                <div class="w-3/12 mr-8">
                    <p class="text-sm text-black font-semibold py-2">Code</p>
                    <mat-form-field class="example-full-width w-full " appearance="outline">
                        <mat-label>Code</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="w-5/12	 mx-8 ">
                    <p class="text-sm text-black font-semibold py-2">Category</p>
                    <mat-form-field class="example-full-width w-full " appearance="outline">
                        <mat-label>Category</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="w-9/12	">
                    <p class="text-sm text-black font-semibold py-2">Family</p>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="one">Local </mat-option>
                            <mat-option value="two">National</mat-option>
                            <mat-option value="two">International</mat-option>
                     
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-5/12	 mx-8 mr-0">
                    <p class="text-sm text-black font-semibold py-2">Family Division</p>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="one">Howrah, Park Street </mat-option>
                            <mat-option value="two">Howrah, Park Street</mat-option>
                            <mat-option value="two">Howrah, Park Street</mat-option>
                     
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </ng-container>

        <!--   Related to Inssurance-->
        <ng-container>
            <div>
                <p class="text-sm text-black font-semibold py-2 mt-5">Related To (Insurance)</p>
            </div>
            <div class="flex w-full mt-5 border-b-2 border-slate-900 pb-5">
                <div class="w-3/12 mr-8">
                    <p class="text-sm text-black font-semibold py-2">Code</p>
                    <mat-form-field class="example-full-width w-full " appearance="outline">
                        <mat-label>Code</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                
                <div class="w-5/12	 mx-8 ">
                    <p class="text-sm text-black font-semibold py-2">Category</p>
                    <mat-form-field class="example-full-width w-full " appearance="outline">
                        <mat-label>Category</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="w-9/12	">
                    <p class="text-sm text-black font-semibold py-2">Family</p>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="one">Local </mat-option>
                            <mat-option value="two">National</mat-option>
                            <mat-option value="two">International</mat-option>
                     
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-5/12	 mx-8 mr-0">
                    <p class="text-sm text-black font-semibold py-2">Family Division</p>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="one">Howrah, Park Street </mat-option>
                            <mat-option value="two">Howrah, Park Street</mat-option>
                            <mat-option value="two">Howrah, Park Street</mat-option>
                     
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </ng-container>


        <div class="dept-of-p flex w-full mt-5 flex-row justify-between			">
            <div class="problem-form w-3/4	mt-5 mr-8 flex flex-col  ">
                <div class="flex w-full justify-between	">
                    <div class=" mx-3 ml-0  w-1/3">
                        <p class="text-sm text-black font-semibold py-2">Text</p>
                        <mat-form-field class="example-full-width w-full " appearance="outline">
                            <mat-label>Text</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="w-1/3	mx-3  ">
                        <p class="text-sm text-black font-semibold py-2">From When</p>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="w-1/3 mx-3 	 ">
                        <p class="text-sm text-black font-semibold py-2">From To</p>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker2">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex w-full mt-5 ustify-between ">
                    <div class=" w-2/4	">
                        <p class="text-sm text-black font-semibold py-2">Comments</p>
                        <textarea class="w-full	h-40		block  border-neutral-800 form-input px-4 py-3 "></textarea>
                    </div>


                </div>
            </div>
            <div
                class="fileUpload  cursor-pointer w-1/4 content-center	 flex flex-col justify-center		mt-10 file-upload items-center		shadow   p-5 text-center">

                <p class="w-full"><i class="fa-solid fa-upload"></i></p>
                <p class="w-full">Drag and Drop or Click to file upload </p>
            </div>
        </div>


        <div class="dept-of-p mt-8 flex w-full flex-row justify-between">
            <div class=" w-2/4	mt-10 flex 	items-start	  p-5 ">

                <input class="mt-1 mr-5" type="checkbox" value="" id="flexCheckChecked" checked>
                <p class="text-sm pt-0 pb-0 w-1/4 text-black font-semibold py-2">Is Analysis required ? </p>
            </div>
            <div class=" w-3/4	mt-10  flex flex-col  ">
                <div class="flex w-full justify-end	">
                    <div class="mx-8">
                        <button (click)="cancel()" class="btn bg-red-600 cursor-pointer">Cancel</button>
                    </div>
                    <div class=" ">
                        <button class="btn bg-blue-600 cursor-pointer">Submit</button>
                    </div>
                    <div class=" mx-3 	 ">
                        <button (click)="nextPhase()" class="btn bg-emerald-500 cursor-pointer">Move to next
                            Phase</button>
                    </div>
                </div>

            </div>

        </div>
    </form>

    <form class=" w-full bg-white p-5 shadow" *ngIf="!showAddForm">

        <div class="flex w-full">
            <div class="w-3/12 mr-8 mb-16">
                <p class="text-sm text-black font-semibold py-2">Title</p>
                <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 ">
            </div>



        </div>
        <div class=" w-full mt-5 pt-5 border-t-2 border-b-2 pb-10 mb-5 border-slate-900 ">
            <div class="w-full">
                <p class="text-sm text-black font-semibold py-2 mt-5 w-full">Stakeholder</p>
            </div>
            <div class="flex w-full">
                <div class="flex w-3/4	">
                    <div class="w-2/4 mr-8">
                        <p class="text-sm text-black font-semibold py-2">Name</p>
                        <input type="email" placeholder="Title"
                            class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                    </div>
                    <div class="w-2/4	 mx-8 ">
                        <p class="text-sm text-black font-semibold py-2"> Email</p>
                        <input type="email" placeholder="Title"
                            class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                    </div>
                    <div class="w-2/4	 mx-8 ">
                        <p class="text-sm text-black font-semibold py-2"> Department</p>
                        <input type="email" placeholder="Title"
                            class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                    </div>
                </div>
                <div class="w-1/4	 mt-8 pt-3	">
                    <i class="fa-solid add-btn-icon cursor-pointer fa-plus"></i>
                </div>
            </div>


        </div>


        <!--  Related to Claim-->

        <ng-container>
            <div>
                <p class="text-sm text-black font-semibold py-2 mt-5"></p>
            </div>
            <div class="flex w-full mt-5 border-b-2 border-slate-900 pb-5">
                <div class="w-3/12 mr-8">
                    <p class="text-sm text-black font-semibold py-2">Business Impact </p>
                    <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                </div>
                <div class="w-5/12	 mx-8 ">
                    <p class="text-sm text-black font-semibold py-2">Related to</p>
                    <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                </div>
                <div class="w-9/12	">
                    <p class="text-sm text-black font-semibold py-2">Department</p>
                    <!-- <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 "> -->
                    <select class="px-4 py-3  w-full  shadow-sm block">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <div class="w-5/12	 mx-8 mr-0">
                    <p class="text-sm text-black font-semibold py-2">Tags</p>
                    <select class="px-4 py-3  w-full  shadow-sm block">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

            </div>
        </ng-container>

        <!--   Related to Inssurance-->
        <ng-container>

            <div class="flex w-full mt-5 border-b-2 border-slate-900 pb-8">
                <div class="w-3/12 mr-8">
                    <p class="text-sm text-black font-semibold py-2">ProblemLead Name</p>
                    <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                </div>

                <div class="w-9/12	">
                    <p class="text-sm text-black font-semibold py-2">Related to</p>
                    <!-- <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 "> -->
                    <select class="px-4 py-3  w-full  shadow-sm block">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <div class="w-5/12	 mx-8 ">
                    <p class="text-sm text-black font-semibold py-2">Department</p>
                    <input type="email" placeholder="Title" class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                </div>
                <div class="w-5/12	 mx-8 mr-0">
                    <p class="text-sm text-black font-semibold py-2">Tags</p>
                    <select class="px-4 py-3  w-full  shadow-sm block">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

            </div>
        </ng-container>


        <div class="dept-of-p flex w-full mt-5 flex-row justify-between			">
            <div class="problem-form w-3/4	mt-5 mr-8 flex flex-col  ">
                <!-- <div class="flex w-full justify-between	">
                    <div class=" mx-3 ml-0  w-1/3">
                        <p class="text-sm text-black font-semibold py-2">Text</p>
                        <input type="email" placeholder="Title"
                            class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                    </div>
                    <div class="w-1/3	mx-3  ">
                        <p class="text-sm text-black font-semibold py-2">From When</p>
                        <input type="email" placeholder="Title"
                            class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                    </div>
                    <div class="w-1/3 mx-3 	 ">
                        <p class="text-sm text-black font-semibold py-2">From To</p>
                        <input type="email" placeholder="Title"
                            class="w-full	 border-neutral-800 form-input px-4 py-3 ">
                    </div>
                </div>
                <div class="flex w-full mt-5 ustify-between ">
                    <div class=" w-2/4	">
                        <p class="text-sm text-black font-semibold py-2">Comments</p>
                        <textarea class="w-full	h-40		block  border-neutral-800 form-input px-4 py-3 "></textarea>
                    </div>


                </div> -->
            </div>
            <div
                class="fileUpload h-40 cursor-pointer w-1/4 content-center	 flex flex-col justify-center		mt-10 file-upload items-center		shadow   p-5 text-center">

                <p class="w-full"><i class="fa-solid fa-upload"></i></p>
                <p class="w-full">Drag and Drop or Click to file upload </p>
            </div>
        </div>


        <div class="dept-of-p mt-8 flex w-full flex-row justify-between">
            <div class=" w-2/4	mt-10 flex 	items-start	  p-5 ">

                <!-- <input class="mt-1 mr-5" type="checkbox" value="" id="flexCheckChecked" checked>
                <p class="text-sm pt-0 pb-0 w-1/4 text-black font-semibold py-2">Is Analysis required ? </p> -->
            </div>
            <div class=" w-3/4	mt-10  flex flex-col  ">
                <div class="flex w-full justify-end	">
                    <div class="mx-8">
                        <button (click)="backToForm()" class="btn bg-red-600 cursor-pointer">Cancel</button>
                    </div>
                    <div class=" ">
                        <button class="btn bg-blue-600 cursor-pointer">Submit</button>
                    </div>
                    <!-- <div class=" mx-3 	 ">
                        <button class="btn bg-emerald-500 cursor-pointer">Move to next Phase</button>
                    </div> -->
                </div>

            </div>

        </div>
    </form>
</div>