<div class="p-48 h-screen bg-gray-100">
    <div class="title">
        <h1 class="border-b-2 border-slate-900 text-zinc-600 font-bold pb-2">Bank Problem Registration (Home Page)</h1>
    </div>

    <div class="issue-list">

        <div class="add-btn mt-10 mb-10 flex justify-end">
            <a href="" class="btn">Add Problem</a>
           
        </div>

        <div class="issue-tbl">
            <table class="bg-gray-50">
                <thead>
                    <tr class="">
                        <th class="px-12 text-sm font-semibold tracking-wide text-left">Department</th>
                        <th class="px-12 text-sm font-semibold tracking-wide text-left" >Ttitle</th>
                        <th class="px-12 text-sm font-semibold tracking-wide text-left" >Description</th>
                        <th class="px-12 text-sm font-semibold tracking-wide text-left" >Claim/Insurance</th>
                        <th class="px-8 py-4 text-sm font-semibold tracking-wide text-left" >Analysis Required</th>
                        <th class="px-12 text-sm font-semibold tracking-wide text-left" >Problem Lead</th>
                        <th class="px-12 text-sm font-semibold tracking-wide text-left" >Site</th>
                        
                        <th class="px-12 text-sm font-semibold tracking-wide text-left" >External Links</th>
                        <th class="px-12 text-sm font-semibold tracking-wide text-left" >Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr >
                       <td class="px-12 border-current text-sm font-semibold tracking-wide text-left" >text</td>
                       <td class="px-12 text-sm font-semibold tracking-wide text-left" >text</td>
                       <td class="px-12 text-sm font-semibold tracking-wide text-left" >text</td>
                       <td class="px-12 text-sm font-semibold tracking-wide text-left" >text</td>
                       <td class="px-12 text-sm font-semibold tracking-wide text-left" >text</td>
                       <td class="px-12 text-sm font-semibold tracking-wide text-left" >text</td>
                       <td class="px-12 text-sm font-semibold tracking-wide text-left" >text</td>
                       <td class="px-12 text-sm font-semibold tracking-wide text-left" >text</td>
                       
                       <td>
                           <button> <i class="m-3 fa-solid fa-pencil"></i> </button>
                           <button> <i class="m-3 fa-solid fa-trash-can"></i> </button>
                           <button> <i class="m-3 fa-solid fa-square-check"></i> </button>
                           
                       </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>