<div class="xl:p-48 sm:p-24 sm:pr-10 h-screen bg-gray-100">
    <div class="title">
        <h1 class="border-b-2 border-slate-900 text-zinc-600 font-bold pb-2">Bank Problem Registration (Home Page)</h1>
    </div>

    <div class="issue-list">

        <div class="add-btn mt-10 mb-10 flex justify-end">
            <button (click)="addProblem()"  class="btn cursor-pointer bg-blue-600">Add Problem</button>
           
        </div>

        <div class="issue-tbl">
            <table class="bg-gray-50">
                <thead>
                    <tr class="">
                        <th class=" text-sm font-semibold tracking-wide text-left">Department</th>
                        <th class=" text-sm font-semibold tracking-wide text-left" >Title</th>
                        <th class=" text-sm font-semibold tracking-wide text-left" >Description</th>
                        <th class=" text-sm font-semibold tracking-wide text-left" >Claim/Insurance</th>
                        <th class="text-sm font-semibold tracking-wide text-left" >Analysis Required</th>
                        <th class=" text-sm font-semibold tracking-wide text-left" >Problem Lead</th>
                        <th class=" text-sm font-semibold tracking-wide text-left" >Problem Email</th>
                        <th class=" text-sm font-semibold tracking-wide text-left" >Site</th>
                        
                        <th class=" text-sm font-semibold tracking-wide text-left" >External Links</th>
                        <th class=" text-sm font-semibold tracking-wide text-left" >Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr  *ngFor="let problem of problems">
                       <td class=" border-current text-sm font-semibold tracking-wide text-left" >{{problem.Department.Value}}</td>
                       <td class=" border-current text-sm font-semibold tracking-wide text-left" >{{problem.Title}}</td>
                       <td class=" border-current text-sm font-semibold tracking-wide text-left" >{{problem.Text}}</td>
                       <td class=" border-current text-sm font-semibold tracking-wide text-left" >
                           <span class="title-name" *ngFor="let item of problem.Tags">{{item}}</span>
                       </td>
                       <td class=" border-current text-sm font-semibold tracking-wide text-left" >{{problem.IsAnlysisRequired}}</td>
                       <td class=" border-current text-sm font-semibold tracking-wide text-left" >{{problem.ProblemLeadName}}</td>
                       <td class=" border-current text-sm font-semibold tracking-wide text-left" >{{problem.ProblemLeadEmail}}</td>
                       <td class=" border-current text-sm font-semibold tracking-wide text-left" >{{problem.Site}}</td>
                    
                       <td class=" border-current text-sm font-semibold tracking-wide text-left" >
                           <a [href]="problem.ExternalLink | safeHtml" target="_blank">{{problem.FileName}}</a>
                       </td>
                 
                       
                       <td class="text-center">
                           <button (click)="editProblem(problem)"> <i   class="xl:m-2 md:m-1 fa-solid fa-pencil cursor-pointer"></i> </button>
                           <button (click)="deleteitem(problem)"> <i class="xl:m-2 md:m-1 fa-solid fa-trash-can"></i> </button>
                           <button (click)="approvedItem(problem)"> <i [ngClass]="{'is-Approved':problem.IsApproved}" class="xl:m-2 md:m-1 fa-solid fa-square-check"></i> </button>
                           
                       </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>