/* You can add global styles to this file, and also import other style files */

.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
      padding-top: .5rem;
      padding-bottom: .5rem;
      background: #0ea5e9;
      border-radius: 4px;
      color: #fff;
}

