/* You can add global styles to this file, and also import other style files */

.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
      padding-top: .5rem;
      padding-bottom: .5rem;
      background: #0ea5e9;
      border-radius: 4px;
      color: #fff;
}


input , select , textarea{
  border: 2px solid #3f3f46;
  background: #fff;
  border-radius: 5px;
}


.file-upload {
  border:3px dotted;
  background-color: #fdfdfd;
}


// th ,td {
//   padding: 20px 10px;
// }

@media only screen and (max-width: 600px) {
  th ,td {
    padding: 20px 10px;
  }
}

@media only screen and (min-width: 768px) {
  th {
    padding: 20px 10px;
  }
 td {
    padding: 10px 10px;
  }
}


@media only screen and (min-width: 1200px) {
  th ,td {
    padding: 20px 15px;
    width: 168px;
    display: inline-block;
    height: 61px;
}
}
