/* You can add global styles to this file, and also import other style files */

.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
      padding-top: .5rem;
      padding-bottom: .5rem;
      background: #0ea5e9;
      border-radius: 4px;
      color: #fff;
}


input , select , textarea{
  border: 2px solid #3f3f46;
  background: #fff;
  border-radius: 5px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #3f3f46;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
   margin: 0 0 !important; 
}

.file-upload {
  border:3px dotted;
  background-color: #fdfdfd;
}

.add-btn-icon  {
  padding: 8px;
  border: 4px solid;
  border-radius: 50%;
}

.mat-option-text {
  text-transform: capitalize;
}

// th ,td {
//   padding: 20px 10px;
// }

@media only screen and (max-width: 600px) {
  .issue-list {
    th ,td {
      padding: 20px 10px;
    }
  }
  
}

@media only screen and (min-width: 768px) {
  .issue-list {
  th {
    padding: 20px 10px;
  }
 td {
    padding: 10px 10px;
  }
}
}


@media only screen and (min-width: 1200px) {
  .issue-list {
  th ,td {
    padding: 20px 15px;
    width: 150px;
    display: inline-block;
    height: 61px;
}
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #005691 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #005691 !important;
}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #005691 !important;
}

td,th {
  word-break:break-all;
  white-space:nowrap;
}